/* Fonts Import*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&display=swap");

/* Reset CSS */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

:root {
  box-sizing: border-box;
  background-color: #000;
  color: #fff;
}

*,
::before,
::after {
  box-sizing: inherit;
}

ul,
ol {
  list-style-type: none;
}

/*************** Real code begin **************/

/* first block */
.container {
  display: grid;
  height: 100vh;
  width: 90%;
  grid-template-areas:
    "image aside"
    "main aside"
    "footer aside";
  grid-template-columns: 41.67% 58.33%;
  grid-template-rows: 11.11% 38.88% 38.88% 11.11%;
  grid-gap: 0.5em;
  margin: 0 auto;
}

.blank {
  grid-area: image;
  margin-top: 3em;
  margin-left: 3em;
  filter: grayscale(100%);
}

.blank img {
  width: 100%;
  height: 100%;
}

.main {
  grid-area: main;
  padding: 1em;
  margin-left: 3em;
  font-size: 1.2em;
  min-width: fit-content;
  height: 78vh;
}

.main h1 {
  display: inline;
}

.main h1 + span {
  float: right;
  font-size: 1.5em;
}

.nav-list {
  grid-area: aside;
  width: 100%;
  margin-top: 3em;
  padding: 1em;
}

.flex {
  display: flex;
  justify-content: right;
}

.flex > li {
  flex: 1;
  display: flex;
  max-width: 160px;
  flex-direction: column;
  writing-mode: vertical-lr;
  font-weight: bold;
  border-left: 2px solid #333333;
  font-size: 1.5em;
  height: 78vh;
  position: relative;
  padding: 0.5em;
}

.flex > li span + span {
  vertical-align: bottom;
  margin-top: 0.5em;
}

.flex li:last-child {
  border-right: 2px solid #333333;
}

.nav-list li .large-text {
  font-size: 3rem;
}

.nav-list li .bottom {
  flex: 1;
  font-size: 4rem;
  writing-mode: horizontal-tb;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* ----------------- TypeWriter Effect section  --------------------*/
.typewriter {
  display: flex;
  flex-direction: column;
  background-color: #000;
  justify-content: center;
  height: 95vh;
  margin-left: 3em;
}

.typewriter h1 {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 5em;
  font-weight: 300;
}

span.cursor {
  border-right: 2px solid white;
  animation: blink 0.6s step-end infinite;
}

@keyframes blink {
  from,
  to {
    border-right-color: transparent;
  }
  50% {
    border-right-color: white;
  }
}

/* ----------------- "About" section  --------------------*/
.About {
  background-color: #fff;
  color: #000;
  min-height: 100vh;
  padding: 2em;
  overflow: auto;
}

.About h1 {
  font-size: 2em;
  font-family: "Oswald";
  border-bottom: 3px solid black;
  text-shadow: 2px 2px 5px grey;
}

.About > p > span::first-letter {
  font-size: 3rem;
}

.About p > span {
  display: block;
  width: 50vw;
  float: left;
}

.About .myImage {
  float: right;
  margin-right: 1em;
  padding: 1em;
  width: 40vw;
  max-width: 370px;
  height: 40vh;
  border: 2px solid #000;
}

.About .myImage p {
  text-align: center;
}

.About .myImage p + p {
  font-size: 3em;
  line-height: 20vh;
}

.About p {
  font-size: 1.5em;
}

@media screen and (max-width: 590px) {
  .About .myImage {
    display: none;
  }
}
/* ----------------- "Skill" section  --------------------*/
.Skill {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: repeat(3, 1fr);
}

.Skill aside {
  grid-column: 1/2;
  grid-row: 1/4;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Skill aside > span {
  display: block;
  font-size: 4em;
  margin-left: 0.5em;
  /* rotate: -90deg; */
}

.Skill h1 {
  margin: 0 2em;
  font-size: 2em;
  text-align: center;
}

.Skill hr {
  display: block;
  height: 2px;
  width: 80%;
}

.Skill .languages {
  text-align: center;
  display: flex;
  justify-content: center;
}

.Skill .language-icons {
  padding: 1rem;
  border-radius: 50%;
  display: inline-block;
}

.language-icons img {
  padding: 1rem;
  height: 100px;
  width: 100px;
}

.language-icons figcaption {
  font-size: 1.5em;
  text-align: center;
}

/* ----------------- "Project" section  --------------------*/

.Project {
  margin: 0 auto;
  background-color: #fff;
  color: #000;
  min-height: 90vh;
  padding: 2em;
  overflow: auto;
}

.Project h1 {
  font-size: 2em;
  font-family: "Roboto", sans-serif;
  border-bottom: 3px solid black;
  text-shadow: 2px 2px 5px grey;
}

.Project .project-list {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  max-width: 1024px;
}

.Project .project-item {
  border: 1px solid #000;
  flex: 1;
  margin-right: 1rem;
}

.Project .project-item h2 {
  font-size: 1.5rem;
  text-align: center;
}

.Project .project-item .item {
  position: relative;
}

.Project .project-item .item .item-back {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  padding: 1em;
  font-size: 1.2em;
  background-color: #eee;
  opacity: 0.8;
  left: 0;
  top: 0;
}

.Project .project-item .item .item-back a {
  display: block;
  text-align: center;
  padding: 0.5em 1.5em;
  background-color: #369;
  color: ivory;
  margin-top: 1em;
  border-radius: 1em;
}

.Project .project-item .item .item-back a:hover {
  color: #369;
  background-color: ivory;
}
.Project .project-item .item:hover .item-back {
  display: block;
}

.Project .project-item img {
  width: 100%;
}

.Project .project-item .tag {
  display: inline-block;
  border: 1px solid black;
  border-radius: 1em;
  padding: 0.3em 0.5em;
  margin-top: 0.5em;
  margin-left: 0.5em;
  background: rgb(200, 255, 255);
}
