/* Fonts Import*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lusitana:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

:root {
  font-family: "Montserrat", Sans-serif;
  box-sizing: border-box;
  background-color: #000;
  color: #fff;
}

*,
::before,
::after {
  box-sizing: inherit;
}

ul,
ol {
  list-style-type: none;
}

/*************** Real code begin **************/

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Header */
header {
  position: fixed;
  width: 100%;
  z-index: 99;
  background-color: rgba(2, 1, 1, 0.49);
}

.header {
  display: flex;
  height: 124px;
  min-width: 800px;
  align-items: center;
  justify-content: space-between;
}

.name-icon {
  width: 80px;
  height: 80px;
  font-family: 'Lavishly Yours', cursive;
  font-weight: 800;
  font-size: 34px;
  color: #5a473a;
  border: 3px solid #5a473a;
  border-radius: 50%;
  text-align: center;
  justify-self: start;
  text-shadow: 1px 1px 3px #fff;
}

.X {
  width: 36px;
  height: 36px;
  line-height: 36px;
  padding-right: 3rem;
  padding-top: 0.5rem;
  margin: 0 auto;
}

.L {
  width: 36px;
  height: 36px;
  line-height: 36px;
  padding-left: 0.5rem;
  padding-bottom: 1rem;
  margin: 0 auto;
}

nav {
  height: 124px;
  line-height: 124px;
  font-size: 20px;
}

nav ul {
  float: right;
  margin: 0 auto;
  height: 24px;
}

ul li {
  float: left;
  padding: 0.3rem 1.3rem;
}

/* ----------------- TypeWriter Effect section  --------------------*/
.typewriter {
  display: flex;
  flex-direction: column;
  background-color: #000;
  justify-content: center;
  height: 95vh;
}

.typewriter h1 {
  color: white;
  font-family:"Satisfy", "Dancing Script", cursive;
  font-size: 5em;
}

#typewriter-text {
  font-family: "Kaushan Script", cursive;
}

span.cursor {
  border-right: 2px solid white;
  animation: blink 0.6s step-end infinite;
}

@keyframes blink {
  from,
  to {
    border-right-color: transparent;
  }
  50% {
    border-right-color: white;
  }
}

/* ----------------- "About" section  --------------------*/
.About {
  background-color: #fff;
  color: #000;
  padding: 2em;
  overflow: auto;
  text-align: center;
}

.About h1 {
  font-size: 2.5em;
  font-family: 'Lusitana', serif;
  /* border-bottom: 3px solid #5a473a; */
  text-shadow: 1px 1px 2px black;
}

.About h1 span {
  margin-left: 1em;
  color: #5a473a;
}

.soft-skill {
  display: grid;
  grid-template-columns: auto auto;
  gap: 15px;
  padding: 10px;
  font-size: 20px;
}

.skill-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 60px;
  border-left: 9px solid #ddd9d6;
  padding-top: 2em;
  padding-bottom: 2em;
  margin: 1em 10px;
  transition: all 0.5s;
}

.skill-item:hover {
  transition: all 0.5s;
  transform: scale(120%); 
}

.skill-item > i {
  display: block;
}

/* ----------------- "Skill" section  --------------------*/
.Skill .container {
  display: grid;
  grid-template-columns: 2fr 8fr;
  grid-template-rows: repeat(3, 1fr);
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.Skill aside {
  grid-column: 1/2;
  grid-row: 1/4;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Skill aside > span {
  font-family: 'Kalam', cursive;
  font-size: 4em;
  margin-right: 0.5em;
}

.Skill h1 {
  margin: 0 2em;
  font-size: 2em;
  text-align: center;
}

.skill-row {
  display: flex;
  align-items: center;
  border: 2px solid #ddd9d6;
  border-radius: 5px;
  padding: 0.5em 1em;
  overflow: hidden;
  margin-top: 1em;
}

.skill-row h1 span {
  color:#5a473a;
  margin-left: 0.5em;
  font-weight: 900;
}

.Skill .languages {
  text-align: center;
  display: flex;
  justify-content: center;
  perspective: 200px;
}

.Skill .language-icons {
  padding: 1rem;
  border-radius: 50%;
  display: inline-block;
  transition: all 1s;
}

.Skill .language-icons:hover {
  transform: rotateY(360deg);
}

.language-icons img {
  padding: 1rem;
  height: 100px;
  width: 100px;
}

.language-icons figcaption {
  font-size: 1.5em;
  text-align: center;
}

/* ----------------- "Project" section  --------------------*/

.Project {
  margin: 5vh auto;
}

.Project.container {
  display: flex;
  flex-direction: row-reverse;
}

.Project h1 {
  font-size: 4em;
  font-family: 'Kalam', cursive;
  text-shadow: 2px 2px 5px grey;
  line-height: 1em;
}

.Project.container .project-col {
  display: flex;
  flex-direction: column;
  width: 560px;
}

.Project.container .project-col h1 {
  text-align: right;
}

.Project.container .project-col h1 span
{
  color: #5a473a
}

.Project .item {
  position: relative;
  height: 330px;
  perspective: 300px;
  padding: 1em;
  transition: all 0.5s;
  transform-style: preserve-3d;
  margin: 15px 5px;
}

.Project .item:hover {
  transform: rotateY(180deg);
}

.Project .item .item-front, 
.Project .item .item-back
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  padding: 1em;
}

.Project  .item .item-back {
  background-color: #000;
  border: 1px solid white;
  border-radius: 10px;
  transform: rotateY(180deg);
}

.Project .project-col .item img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  box-shadow: 1px 1px 2px white;
}

.Project .item .item-back .button-group {
  position: absolute;
  bottom: 1em;
  left: 10%;
  width: 80%;
}

.Project .item .item-back  {
  font-size: 1.2em;
}

.Project .item .item-back a {
  display: block;
  text-align: center;
  padding: 0.5em 1.5em;
  background-color: #369;
  color: ivory;
  margin-top: 1em;
  border-radius: 1em;
}

.Project .item .item-back a:hover {
  color: #369;
  background-color: ivory;
}

.Project .project-col .more {
  font-size: 3em;
  border-bottom: 8px solid #5a473a;
  padding: 1em;
  margin: 1em;
}

footer {
  height: 24px;
  line-height: 24px;
  text-align: center;
}
