@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

*{
	padding: 0;
	margin:0;
	box-sizing: border-box;
}

body {
	background-image: url("img/background.jpg");
	background-size: cover;
	background-color: rgba(0,0,0,0.6);
	background-blend-mode: multiply;
	color: white;
	font-family: 'Noto Sans', sans-serif;
}

.header {
	text-align: center;
	padding: 1rem;
	background: rgb(10, 20, 110);
	color: white;
	border-radius: 10px;
	text-shadow: 2px 2px rgba(255,255,255,0.6);
}

.footer {
	text-align: center;
	background:#224c8c;
}

.container {
	background-color: rgba(255,255,255,0.6);
	margin: 3rem auto;
	width: 90%;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	border-radius: 10px;
}

img {
	max-width: 90%;
	
}

.block {
	margin: 1rem;
	display: inline-block;
	width: 40%;
	border: 1px solid black;
	border-radius: 5px;
	padding: 1rem;
	padding-right: 22rem;
	background: #0071eb;
	box-shadow: 15px 10px 20px rgb(15 19 36), 0 6px 6px rgba(0,0,0,0.23);
}	

.icon_container {
	display: grid;
	grid-template-columns: 70px 70px 70px 70px 70px;
}

.selection {
	padding: 0.5rem;
	border-radius: 3px;
}

.selection:hover {
	transform: scale(1.1);
	border: 1px solid white;
	border-radius: 6px;
	background: rgb(10, 20, 110);
	opacity: 0.8;
}

.selection img {
	display:inline-block;
	width:50px;
	height:50px;
}

.subtitle {
	margin: 2%;
	padding: 2%;
}

#from, 
#to {
	height: 30px;
}

.inline {
	display: inline-block;
}

#canfigf, #usafigt {
	background: rgb(10, 20, 110);
}

#updatetime, #updaterate, #otherinfo{
	color: black;
	display:block;
	text-align: right;
	padding-right: 1rem;
}

#otherinfo::before {
	content: "*";
	color: red;
}